@using VendorTracker.Models;
@{
  Layout = "_Layout";
}

<form action="/vendors" method="post">
  <label for="vendorName">Enter the name of the vendor:</label>
  <input type="text" id="vendorName" name="vendorName">
</form>