@using VendorTracker.Models;
@{
  Layout = "_Layout";
}

<h2>Add vendor:</h2>
<form action="/vendors" method="post">
  <div class="form-group">
    <label for="vendorName">Name:</label>
    <input type="text" id="vendorName" name="vendorName">
  </div>
  <button type="submit" class="btn btn-primary my-3">Add</button>
</form>