@using VendorTracker.Models;
@{
  Layout = "_Layout";
}
@* Model is the vendor, show all orders *@

<h2>Showing details for @Model.Name</h2>

@if(Model.Orders.Count == 0)
{
  <p>This vendor hasn't made any orders yet.</p>
}

<ol>
  @foreach(Order order in Model.Orders)
  {
    <li><a href="/vendors/@Model.Id/orders/@order.Id">@order.NumItems Croissants</a></li>
  }
</ol>

<a href="/vendors/@Model.Id/orders/new">Add an order for @Model.Name</a>