@using VendorTracker.Models;
@{
  Layout = "_Layout";
}
@* Model is the vendor, show all orders *@

<h2>Showing orders for @Model.Name</h2>

@if(Model.Orders.Count == 0)
{
  <p>This vendor hasn't made any orders yet.</p>
}
else
{
  @if(Model.IsSorted)
  {
    <ol>
      @foreach(Order order in Model.SortedOrders)
      {
        <li><a href="/vendors/@Model.Id/orders/@order.Id">@order.NumItems Croissants</a></li>
      }
    </ol>
    
    <a class="btn btn-warning" href="/vendors/@Model.Id/unsorted">Return to original order</a>
  }
  else
  {
    <ol>
      @foreach(Order order in Model.Orders)
      {
        <li><a href="/vendors/@Model.Id/orders/@order.Id">@order.NumItems Croissants</a></li>
      }
    </ol>
    @if(Model.Orders.Count > 1)
    {
      <a class="btn btn-warning" href="/vendors/@Model.Id/sorted">Sort by price</a>
    }
  }
}

<br>
<a class="my-3 btn btn-primary" href="/vendors/@Model.Id/orders/new">Add an order for @Model.Name</a>